* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: #c31516; */
}

@font-face {
  font-family: "CynthoNextRegular";
  src: url(/fonts/cyntho-next-cufonfonts/CynthoNextRegular.otf);
}
@font-face {
  font-family: "CynthoNextRegular";
  src: url(fonts/cyntho-next-cufonfonts/CynthoNextBold.otf);
  font-weight: bold;
}

body {
  width: 100%;
  font-family: "CynthoNextRegular";
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

/* header styles */
.header {
  padding: 20px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30000;
}
.header-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  /* border-bottom: 0.5px solid #fff; */
  padding-bottom: 30px;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-div img {
  width: 250px;
  /* height: auto; */
}
.hamburger {
  /* background-color: blue; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  display: none;
  align-items: center;
}
.bar {
  width: 100%;
  height: 5px;
  background-color: #e9a92e;
}
.navigation {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-overlay {
  display: none;
}
.close-nav {
  display: none;
}
.navigation-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.navigation a {
  text-decoration: none;
  color: #fff;
}
.nav-call-div {
  display: flex;
  justify-content: space-between;
}
.call-number p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call-number p iconify-icon {
  margin-right: 10px;
  font-size: 1.2em;
}
.navigation-ul li a:hover {
  color: #e9a92e;
}
/* media query for header */
@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 50px;
  }
  .navigation {
    width: 60%;
  }
  .logo-div img {
    width: 200px;
  }
}
@media screen and (max-width: 770px) {
  .header {
    padding: 20px;
  }
  .header-div {
    flex-direction: column;
  }
  .close-nav {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
  }
  .navigation-ul {
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-color: #c31516;
    position: absolute;
    top: 0;
    left: -100%;
    width: 70vw;
    padding: 50px 10px;
    transition: 0.3s linear;
    justify-content: stretch;
  }
  .navigation-overlay {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: #c3151690;
    transition: 0.3s linear;
    display: flex;
  }
  .navigation-overlay iconify-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
  }
  .hamburger {
    display: flex;
  }
  .show-overlay {
    right: 0;
  }
  .show-navbar {
    left: 0;
  }
  .navigation-ul li {
    margin-bottom: 40px;
  }
  .logo-div {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .logo-div img {
    width: 150px;
  }
}
/* hero section */
.hero {
  /* padding: 150px 100px; */
  height: 500px;
  background-image: url("./images/hero.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: color-burn;
  background-color: #01010199;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 100px;
}
.hero-p {
  font-size: 3.1rem;
  margin-bottom: 30px;
  /* width: 50%; */
  font-weight: bold;
  color: #c31516;
}
.epe-p {
  font-size: 1em;
  color: #e9a92e;
}
.hero-section .hero-span-1 {
  color: #f1f1f1;
}
/* .hero-section .hero-span-2 {
  color: #c31516;
} */
.hero-section button {
  background-color: #c31516;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.hero-section button:hover {
  background-color: #e9a92e;
}

/* media query for hero */
@media screen and (max-width: 1200px) {
  .hero {
    padding: 150px 50px;
  }
  .hero-section {
    padding: 0;
  }
  .hero-p {
    font-size: 2.5rem;
    width: 70%;
  }
}
@media screen and (max-width: 770px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
  .hero-p {
    font-size: 2em;
  }
  .hero-section p {
    width: 100%;
    text-align: center;
  }
  .epe-p {
    font-size: 1.5em;
  }
}

.promo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c450;
}
.promo-div {
  width: 100%;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.promo-div p {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #c31516;
  text-align: center;
}
.promo-div p span {
  color: #e9a92e;
}
.promo-div img {
  width: 100%;
  max-width: 550px;
  height: auto;
  object-fit: contain;
}
.promo-div-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo-div-2 img {
  width: 48%;
  height: auto;
  object-fit: cover;
  margin-bottom: 50px;
  cursor: pointer;
}
.layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.layout-p {
  font-size: 1.5em;
  color: #c31516;
  margin-bottom: 30px;
  font-weight: bold;
}
.layout-p span {
  color: #e9a92e;
}
.promo-buttons {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.promo-button {
  background-color: #c31516;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  width: 23%;
  font-size: 0.8em;
}
.promo-button:hover {
  background-color: #e9a92e;
}
.promo-button iconify-icon {
  font-size: 1.2rem;
}
@media screen and (max-width: 980px) {
  .promo-button {
    width: 49%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 770px) {
  .promo-div-2 img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .promo-button {
    width: 100%;
    justify-content: center;
  }
  .promo-div p {
    font-size: 1.2rem;
  }
}

/* about section */
.about,
.about-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-div {
  padding: 100px;
}
.about-div-p {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.about-div-p2 {
  text-align: center;
  line-height: 2em;
}

/* features about stylea */
.features-div {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.feature-div {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.feature-icon {
  font-size: 50px;
  color: #e9a92e;
}
.feature-p {
  text-align: center;
  color: #c31516;
}
/* about features media query */
@media screen and (max-width: 900px) {
  .about-div {
    padding: 50px;
  }
  .about-div-p {
    font-size: 2em;
  }
  .features-div {
    padding: 50px;
  }
}
@media screen and (max-width: 770px) {
  .about-div {
    padding: 50px;
  }
  .about-div-p {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .feature-div {
    width: 48%;
  }
}

/* three image div */
.three-image-div {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  flex-wrap: wrap;
}
.image-div {
  width: 32%;
  position: relative;
  cursor: pointer;
}
.three-image-div img {
  width: 100%;
  border: 10px solid #f1f1f1;
  box-shadow: 4px 4px 4px #c4c4c450;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01010199;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.image-div:hover .image-overlay {
  opacity: 1;
}

/* three image media query */
@media screen and (max-width: 900px) {
  .three-image-div {
    padding: 50px;
  }
}
@media screen and (max-width: 650px) {
  .image-div {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* map section */
.map,
.map-section-div {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.map-section-div {
  padding: 100px;
  justify-content: space-between;
  align-items: flex-start;
}
.monte-carlo-div {
  width: 50%;
}
.monte-carlo-p1 {
  font-size: 2.5em;
  color: #c31516;
  margin-bottom: 30px;
}
.monte-carlo-p1 span {
  color: #e9a92e;
}
.monte-carlo-p2 {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 30px;
}
.deposit-p {
  margin-bottom: 20px;
}
.deposit-naira {
  color: #c31516;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 30px;
}
.deposit-promo-ends {
  font-weight: 200;
  font-size: 1.5em;
}
.map-div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.map-div iframe {
  border: 5px solid #c3151640;
}

/* map media query */
@media screen and (max-width: 900px) {
  .map-section-div {
    padding: 50px;
  }
}
@media screen and (max-width: 770px) {
  .map-section-div {
    /* padding: 20px; */
  }
  .monte-carlo-p1 {
    font-size: 1.7em;
  }
  .map-section-div {
    flex-direction: column;
  }
  .monte-carlo-div,
  .map-div,
  .map-div iframe {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

/* clusters */
.clusters {
  width: 100%;
}
.clusters-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #c3151620;
}
.cluster {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cluster-div1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cluster-div1 p {
  width: 80%;
  background-color: #c31516;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e9a92e;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  border: 5px solid #e9a92e;
  box-shadow: 4px 4px 4px #c4c4c4;
}
.cluster-div2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cluster-even {
  flex-direction: row-reverse;
}
.cluster-div2 img {
  width: 100%;
  height: 500px;
  border: 5px solid #fff;
  object-fit: cover;
}

/* cluster media query */
@media screen and (max-width: 900px) {
  .clusters-div {
    padding: 50px;
  }
  .cluster-div1 p {
    width: 90%;
    height: 200px;
    font-size: 1.5em;
    padding: 20px;
  }
  .cluster-div2 img {
    width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 650px) {
  .cluster,
  .cluster-even {
    flex-direction: column;
  }
  .cluster-div1,
  .cluster-div2 {
    width: 100%;
  }
  .cluster img,
  .cluster p {
    margin-bottom: 30px;
    font-size: 1.2em;
    letter-spacing: 2px;
    width: 100%;
  }
  .cluster-div1 p {
    height: 100px;
  }
  .cluster-div2 img {
    height: 300px;
  }
}

/* footer */
.footer {
  padding: 100px 100px 20px;
  background-color: #191919;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}
.footer-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-div1 {
  width: 32%;
}
.footer-div1 img {
  width: 40%;
  margin-bottom: 30px;
}
.socials {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.socials iconify-icon {
  font-size: 30px;
  text-decoration: none;
  color: #f7f7f7;
}
.footer-p1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-details p {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #f9f9f990;
}
.contact-details p iconify-icon {
  font-size: 25px;
  margin-right: 15px;
  color: var(--second-color);
}
.subscribe-div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.subscribe-div input {
  padding: 10px;
  border: none;
  background: #f9f9f9;
  color: #191919;
  outline: none;
}
.subscribe-div button {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #c31516;
  color: #f9f9f9;
}
.subscribe-p {
  font-size: 12px;
  letter-spacing: 1px;
  color: #f9f9f990;
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 50px 20px;
  }
  .subscribe-div input {
    width: 40%;
  }
  .contact-details p {
    font-size: 12px;
  }
  .subscribe-p {
    font-size: 10px;
  }
  .subscribe-div button {
    width: 30%;
    font-size: 8px;
    padding: 14px;
  }
}
.copyright {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #f9f9f990;
}
.copyright-p {
  font-size: 12px;
  color: #f9f9f990;
  letter-spacing: 1px;
}
@media screen and (max-width: 670px) {
  .footer {
    padding: 30px 20px;
  }
  .footer-div {
    flex-direction: column;
  }
  .footer-div1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .footer-div1 img {
    margin-bottom: 25px;
  }
  .socials {
    width: 70%;
  }
}

/* modal styles */
.modal-div {
  position: fixed;
  top: -130%;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000099;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.modal-image-div {
  width: 90%;
  height: 95%;
  max-height: 550px;
  max-width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #c31516; */
  /* object-fit: cover; */
}
.modal-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 200000;
  border: 10px solid #e9a92e;
  cursor: grab;
}
@media screen and (max-width: 650px) {
  .modal-image-div img {
    height: auto;
    width: 100%;
  }
}
.show-modal {
  top: 0;
}
.modal-div iconify-icon {
  position: absolute;
  color: #fff;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

/* inspection styles */
.inspection {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: -100%;
  /* background-color: #c31516; */
  width: 100%;
  z-index: 200000;
  transition: 0.3s linear all;
  /* max-width: 500px; */
}
.show-inspection {
  right: 0;
}
.overlay-div {
  width: 100%;
  height: 100%;
  background-color: #01010199;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 250000;
}
.inspection-div {
  width: 100%;
  height: 100%;
}
.close-inspection-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
  background-color: #c31516;
  color: #f1f1f1;
}
.close-inspection-modal:hover {
  background-color: #e9a92e;
}
.inspection-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 550px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3000000;
}
.inspection-form img {
  width: 70%;
  height: 200px;
  margin-bottom: 30px;
}
.inspection-p {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
}
.form-div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
.form-div div {
  width: 48%;
}
.form-div input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #c4c4c4;
  outline: none;
}
.form-div button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #c31516;
  color: #f1f1f1;
  border: none;
  outline: none;
}
.form-div button:hover {
  background-color: #e9a92e;
  cursor: pointer;
}
.inspection-p2 {
  font-weight: 600;
  text-align: center;
  width: 80%;
  padding-bottom: 30px;
}
@media screen and (max-width: 550px) {
  .inspection {
    min-height: 100vh;
  }
  .inspection-form {
    overflow-y: auto;
    padding-top: 400px;
    /* padding-bottom: 100px; */
  }
  .form-div {
    flex-direction: column;
  }
  .form-div div {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* whatsapp */
.whatsapp iconify-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid white;
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 50px;
  border-radius: 100%;
  cursor: pointer;
  animation: Whatsapp 3s infinite;
  z-index: 1000000;
  background-color: white;
}
@keyframes Whatsapp {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  .whatsapp iconify-icon {
    padding: 10px;
    font-size: 30px;
  }
}
